{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %} 
{% block body %}

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Newest items</h2>
  <div>
    {% if newestItems %}
      <div class="grid grid-cols-3 gap-3">
        {% for newestItem in newestItems %}
          <a href="{{ path('item_detail', {'id': newestItem.id}) }}" class="relative">
            <div class="bg-white rounded-t-xl overflow-hidden" style="height: 250px; width: 100%; max-width: 100%;">
              {% if newestItem.imageName %}
              <img src="{{ asset('images/Item/' ~ newestItem.imageName) }}" alt="Item image" class="w-full h-full object-cover">
              {% else %}
                <div class="w-full h-full flex items-center justify-center bg-gray-300">
                  <span class="fas fa-camera fa-5x text-gray-500">📷</span>
                </div>
              {% endif %}
            </div>
            <div class="p-6 bg-white rounded-b-xl">
              <h2 class="text-2xl">{{ newestItem.name }}</h2>
              <p class="text-gray-500">Price: {{ newestItem.price }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>No newest items available.</p>
    {% endif %}
  </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Categories items</h2>
  <div class="grid grid-cols-3 gap-3">
    {% for category in categories %}
    <div>
      <div class="p-6 bg-white rounded-xl">
        <h2 class="text-2xl">{{ category.name }}</h2>
        <p class="text-gray-500">{{ category.itemCount }} items</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
