{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}
    <div class="border gray-black rounded-xl p-4 mb-4">
        <div class="flex items-center mb-4">
            <div class="pr-4">
                {% if conversation.item.imageName %}
                    <img src="{{ asset('images/Item/' ~ conversation.item.imageName) }}" alt="Item image" class="w-20 rounded-xl">
                {% else %}
                    <div class="w-20 h-20 rounded-xl flex items-center justify-center bg-gray-300">
                        <span class="fas fa-camera fa-3x text-gray-500">📷</span>
                    </div>
                {% endif %}
            </div>
            <div class="text-2xl font-bold">{{ conversation.item.name }}</div>
        </div>
    </div>
    <div class="space-y-6">
        {% for message in conversation.messages %}
            <div class="p-6 mb-3 {% if message.createdBy == app.user %} flex justify-end {% else %} flex justify-start {% endif %}">
                <div class="{% if message.createdBy == app.user %} bg-blue-100 {% else %} bg-gray-100 {% endif %} rounded-xl p-4">
                    <p class="mb-1"><strong>{{ message.createdBy.email }}</strong></p>
                    <p class="text-gray-600 text-sm">{{ message.createdAt|date('Y-m-d H:i:s') }}</p>
                    <p>{{ message.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <form action="{{ path('message_send', {'id': conversation.id, 'itemPk': conversation.item.id}) }}" method="post" class="mt-4">
        {{ form_widget(form) }}
        <button class="mt-4 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Send</button>
    </form>
{% endblock %}
